*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}
.main__ul{
    display: flex;
    align-items: center;
}
.main__li{
    list-style: none;
    margin-left: 35px;
}

.main__li_1{
    background: #000;
    border-radius: 6px;
    padding: 15px;
}
.main__link{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    transition: .2s linear;
}
.main__link1{
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.main__link:hover{
    transform: scale(1.1);
}